
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');

#root {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.titre{
  text-align: center;
}

h1 , h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

p, a, span, label, input, button{
  font-family: 'Roboto', sans-serif;
}

.titre h1 {
  font-weight: normal;
}

.titre h4{
  font-weight: normal;
  margin-bottom: 20px;
}

/* Styles pour le mode clair */
.app {
  background-color: white;
  color: black;
}

/* Styles pour le mode sombre */
.app.dark-mode {
  background-color: black;
  color: white;
}
.app.dark-mode .bio-container{
  background-color: rgb(45, 45, 45);
  color: white;
}
.app.dark-mode .card-projets{
  background-color: rgb(45, 45, 45);
  color: white;
}
.app.dark-mode .card-text{
  background-color: rgb(45, 45, 45);
  color: white;
}

.expe.dark-mode .card-projets {
  background-color: rgb(0, 0, 0);
  color: white;
}

.app.dark-mode .contact {
  background-color: rgb(0, 0, 0);
  color: white;
}
.app.dark-mode .contact label {
  color: white;
}

.app.dark-mode .contact button{
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
}

.app.dark-mode .contact {
  background-color: rgb(45, 45, 45);
}

.app.dark-mode .left-contener {
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
}

/* Bouton pour basculer entre les modes */
.toggle-dark-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .toggle-dark-mode {
    width: 60px;
  }
}